<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordered Products</title>
</head>
<body>
    <h1>Ordered Products</h1>
    <h2>Last 7 Days</h2>
    <ul>
        {% for order in orders_last_7_days %}
            {% for product in order.products.all %}
                <li>{{ product.name }} ({{ order.date_order }})</li>
            {% endfor %}
        {% endfor %}
    </ul>

    <h2>Last 30 Days</h2>
    <ul>
        {% for order in orders_last_30_days %}
            {% for product in order.products.all %}
                <li>{{ product.name }} ({{ order.date_order }})</li>
            {% endfor %}
        {% endfor %}
    </ul>

    <h2>Last 365 Days</h2>
    <ul>
        {% for order in orders_last_365_days %}
            {% for product in order.products.all %}
                <li>{{ product.name }} ({{ order.date_order }})</li>
            {% endfor %}
        {% endfor %}
    </ul>
</body>
</html>